/*font-family: 'Righteous', cursive;*/
/*font-family: 'Bitter', serif;*/
/*font-family: 'Cormorant Garamond', serif;*/
/*font-family: 'IBM Plex Serif', serif;*/
/*font-family: 'Neuton', serif;*/


.headline {
    font-family: 'Righteous', cursive;
    font-size: 1.6em;
    font-style: normal;
}

.title {
    font-family: 'Bitter', serif;
    font-size: 1.2em;
}

.bodyclass {
    background-color: #181a1b;
}

.primary_banner {
    /* Set rules to fill background */
    min-height: 100%;
    min-width: 1024px;

    /* Set up proportionate scaling */
    width: 100%;
    height: auto;

    /* Set up positioning */
    position: relative;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) {
    /* Specific to this particular image */
    .primary_banner {
        left: 50%;
        margin-left: -512px; /* 50% */
    }
}

.title_text {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2em;
    color: aliceblue;
}


.subtitle_text {
    color: beige;
    font-family: 'IBM Plex Serif', serif;
    text-transform: uppercase;
    font-size: 1.3em;
    text-align: left;
}


.banner_content_primary {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translate(-70%, -50%);
}

.banner_content_middle {
    color: aliceblue;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, 0%);
}

.banner_content_title {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2em;
}

.banner_content_subtitle {
    text-transform: uppercase;
    font-size: 1.0em;
    color: beige;
    font-family: 'IBM Plex Serif', serif;
    text-shadow: 1px 1px;
}

.paragraph {
    font-size: 1em;
    color: blanchedalmond;
    font-family: 'Neuton', serif;
    text-align: justify;
}

.white_line {
    width: 100%;
    border-bottom: 3px solid rgba(255,255,255,.25);
}