{% extends "base.html" %}
{% block title %}How it works{% endblock %}
{% block content %}

<div class="container">

    <div style="text-align:center">
        <h1 class="headline">
            Bugtracker
        </h1>
        <small class="text-muted">v0.0.1 - pre-alpha</small>
    </div>
    <hr>

    <p class="h3 title_texts">
        How Bugtracker works
    </p>

    <p class="h5 body_texts">

        <li class="list-group list-group-flush">
            <ol class="list-group-item">
                Step 1: Install postgresql on your server. By default: this will ensure your data integrity from my
                part. Then create a database and user for this app. Give the user permission on the newly created
                database.
                User will need <strong> connect, select, insert, update and delete </strong> permissions on the
                database.
                However, if you are feeling lazy, you may grant <i>
                    all privileges on all tables in the schema</i>, although I don't recommend this.
                Finally, above all else, please don't use <b>root</b> user or grant the new user <u>
                    supseruser</u> permissions.
                <br>
                <small class="text-muted">How to install postgresql database on ubuntu server
                    <a href="https://www.digitalocean.com/community/tutorials/how-to-install-and-use-postgresql-on-ubuntu-18-04"
                        target="_blank"> Click here </a>
                    and
                    <a href="https://stackoverflow.com/a/12721095/6029175" target="_blank">
                        here
                    </a>
                    and
                    <a href="https://tableplus.com/blog/2018/04/postgresql-how-to-grant-access-to-users.html"
                        target="_blank">
                        here!
                    </a>
                </small>
            </ol>

            <ol class="list-group-item">
                Step 2: Clone the repository from <a href="https://github.com/p1r-a-t3/Bugtracker" target="_blank">
                    github.</a> Create a <a href="https://pypi.org/project/virtualenv/" target="_blank"> virtualenv </a>
                for bugtracker, install <u>all the dependencies</u> from requirements.txt file.

                <pre>pip install -r requirements.txt </pre>

                <strong>This part is really important, Bugtracker won't work unless you fully install every
                    requirements.

                </strong>
            </ol>

            <ol class="list-group-item">
                Step 3: create a new .env file using your favorite editor on the project root directory.
                <pre>vim .env </pre>
                Fill up the following entry on your .env file.
                <strong> DB_NAME, DB_USER, DB_PASSWORD, DB_URL, DB_PORT, SECRET_KEY.</strong>
                <br>SECRET_KEY could be anything as trivial as 123456 to UUID! I hope you are not using 123456 though.
            </ol>

            <ol class="list-group-item">
                Step 4: Now the moment of truth. I hope everything is all set and done. We are going to run migration.
                <pre>python3 manage.py migrate
                </pre>
                <i> If it fails, please open up an issue on the github repository. </i>
            </ol>
            <ol class="list-group-item">
                Step 5: We would need to manage the static files as well.
                <pre>python3 manage.py collectstatic
                </pre>
                This will open up a new directory and store all the static files in it.
                It's already supposed to be there with the repository, however, running this command won't kill anyone!
            </ol>
            <ol class="list-group-item">
                Step 6: Now we run this project.
                I hope you are going to run this project through nginx.
                <pre>nohup python3 manage.py runserver 0.0.0.0:8000 &
                </pre>
                This will start the app in background on port 8000. You can change it to anything else!
                Logs of command will be stored in .nohup.out file.
            </ol>
            <ol class="list-group-item">
                Step 7: You can use your webserver (nginx or apache) to forward to traffic to the server.
                There will be three entries for this.
                One will direct the traffic to port 8000 (or your defined port),
                the next will direct the traffic to static files
                and the another one for Django's admin portal.

                Nginx example:
                <pre>
        location / {
            rewrite ^/route/?(.*)$ /$1 break;
            proxy_pass  http://0.0.0.0:8000/;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
            proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_read_timeout 60s;
        }

        location /static/ {
                alias /home/username/project_root_directory/static_bugtracker/;
        }

        location admin/ {
                rewrite ^/route/?(.*)$ /$1 break;
                proxy_pass  http://0.0.0.0:8000/admin/;
                proxy_set_header Host $host;
                proxy_set_header X-Real-IP $remote_addr;
                proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
                proxy_read_timeout 60s;
        }</pre>
            </ol>

            <ol class="list-group-item">
                Step 8: Restart nginx server to take the effect.
                <pre>sudo service nginx restart</pre>
            </ol>
        </li>
    </p>
    <p class="h5 body_texts">
        That's it! This should keep app running on your server, go ahead and check it out from your browser!
    </p>
</div>
{% endblock %}