{% extends "navbar.html" %}
{% block title %} {{ page_title }} {% endblock %}

<!-- ||||||||||||||||||||||||||||||| -->
<!-- ||||||||||||||||||||||||||||||| -->
<!-- |||||||||| Profile ||||||||||||-->
<!-- ||||||||||||||||||||||||||||||| -->
<!-- ||||||||||||||||||||||||||||||| -->

{% block content %}

<div class="container">
    <br>

    <div class="row">

        <div class="col-6">
            <div class="row">
                <div class="col-8">
                    <p class="h4 title_texts">
                        {{user.get_full_name}}
                    </p>
                </div>

                <div class="col-4" style="text-align: right; padding: 0.1em;">
                    {% if user.is_approved %}

                    <span style="opacity: 0.9" class="badge badge-pill badge-dark body_paragraphs">
                        approved
                    </span>
                    {% else %}
                    <span style="opacity: 0.9" class="badge badge-pill badge-warning body_paragraphs">
                        pending
                    </span>
                    {% endif %}
                </div>
            </div>

            <p class="h6 body_paragraphs">
                Email: {{user.email}}
            </p>

            <p class="h6 body_paragraphs">
                {% if user.mobile %}
                Mobile: {{user.mobile}}
                {% else %}
                Mobile: not set
                {% endif %}
            </p>

            <div class="row">
                <div class="col-8">
                    <p class="h6 body_paragraphs" id="procreated">
                        <script type="text/javascript">
                            localize_time("procreated", "Account created on: ", {{ user.created_on | safe }});
                        </script>
                    </p>
                    <p class="h6 body_paragraphs" id="prolastseen">
                        <script type="text/javascript">
                            localize_time("prolastseen", "Last seen on: ", 
                            {{ user.last_login | safe }});
                        </script>
                    </p>
                    <hr>
                    <small class="text-muted body_paragraphs" id="proupdated">
                        <script type="text/javascript">
                            localize_time("proupdated", "Last updated on:: ", {{ user.modified_on | safe }});
                        </script>
                    </small>
                </div>
                {% if current_user == 'True' %}
                <div class="col-4" style="text-align: right">
                    <button type="button" class="btn btn-outline-info btn-sm body_paragraphs">Update</button>
                </div>
                {% endif %}
            </div>
        </div>

        <!-- User in what what teams -->
        <div class="col-6">
            {% if team_payload %}
            <p class="h6 title_texts">
                Teams
                <span style="opacity: 0.9" class="badge badge-pill badge-dark">{{ total_team }}</span>
            </p>

            <div class="list-group">
                {% for team in team_payload %}
                <a href="{% url "team" team.team_id %}" class="list-group-item list-group-item-action">
                    <div class="row">
                        <div class="col-8">
                            {{ team.team_name }}
                        </div>
                        <div class="col-4" style="text-align: right">
                            <span style="opacity: 0.9" class="badge badge-pill badge-dark">
                                {% if team.admin %}
                                admin
                                {% else %}
                                member
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

            {% endif %}

        </div>
    </div>
</div>

{% endblock %}