{% extends "navbar.html" %}
{% block title %} {{ page_title }} {% endblock %}

<!-- ||||||||||||||||||||||||||||||| -->
<!-- ||||||||||||||||||||||||||||||| -->
<!-- |||||||||| Profile ||||||||||||-->
<!-- ||||||||||||||||||||||||||||||| -->
<!-- ||||||||||||||||||||||||||||||| -->

{% block content %}

<div class="container">
    <br>

    <div class="row">

        <div class="col-6">
            <div class="row">
                <div class="col-8">
                    <p class="h4 title_texts">
                        {{user.get_full_name}}
                    </p>
                </div>

                <div class="col-4" style="text-align: right">
                    {% if user.is_approved %}

                    <span class="badge badge-pill badge-dark body_paragraphs">
                        approved
                    </span>
                    {% else %}
                    <span class="badge badge-pill badge-warning body_paragraphs">
                        pending
                    </span>
                    {% endif %}
                </div>
            </div>

            <p class="h6 body_paragraphs">
                Email: {{user.email}}
            </p>

            <p class="h6 body_paragraphs">
                {% if user.mobile %}
                Mobile: {{user.mobile}}
                {% else %}
                Mobile: not set
                {% endif %}
            </p>

            <div class="row">
                <div class="col-8">
                    <p class="h6 body_paragraphs">
                        Created on: {{ user.created_on }} <br>
                        <small class="text-muted body_paragraphs">
                            Last updated on: {{ user.modified_on}}
                        </small>
                    </p>
                </div>
                <div class="col-4" style="text-align: right">
                    <button type="button" class="btn btn-outline-info btn-sm body_paragraphs">Update</button>
                </div>
            </div>
        </div>

        <!-- User in what what teams -->
        <div class="col-6">
            {% if team_payload %}
            <p class="h6 title_texts">
                Teams
                <span class="badge badge-pill badge-dark">{{ total_team }}</span>
            </p>

            <div class="list-group">
                {% for team in team_payload %}
                <a href="{% url "team" team.team_id %}" class="list-group-item list-group-item-action">
                    <div class="row">
                        <div class="col-8">
                            {{ team.team_name }}
                        </div>
                        <div class="col-4" style="text-align: right">
                            <span class="badge badge-pill badge-dark">
                                {% if team.admin %}
                                admin
                                {% else %}
                                member
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>

            {% endif %}

        </div>
    </div>
</div>

{% endblock %}