<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %} - Bugtracker
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Load Fonts Here -->
    <link href="https://fonts.googleapis.com/css?family=Bitter|Monda|Pacifico|Slabo+27px&display=swap" rel="stylesheet">

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <script src="{% static 'js/hello.js' %}"> </script>
</head>

<body style="background: #f8f9fa">
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <a class="navbar-brand headline" href="#">Bugtracker</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto navbar_texts">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#"> 
                        {{ full_name }}
                        <span class="sr-only">(current)</span></a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Organization
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- Add organization after getting them from the database -->
                        {% block organizations %}{% endblock %}
                        <a class="dropdown-item" href="#">Group #1</a>
                        <a class="dropdown-item" href="#">Group #2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Create a Organization</a>
                    </div>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Projects
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <!-- Add projects here -->
                        {% block projects %}{% endblock %}
                        <a class="dropdown-item" href="#">Project #1</a>
                        <a class="dropdown-item" href="#">Project #2</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Add a new project</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    {% block content %}{% endblock %}

</body>

<footer class="container" style="text-align: center">
    <br>
    <br>
    <br>
    <p style="font-family: 'Bitter', serif;">With ❤️ from <a target="_blank" rel="noopener noreferrer"
            href="https://github.com/p1r-a-t3">p1r-a-t3</a>!
    </p>
</footer>