<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}{% endblock %} - Bugtracker
    </title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Load Fonts Here -->
    <link href="https://fonts.googleapis.com/css?family=Bitter|Monda|Pacifico|Slabo+27px&display=swap" rel="stylesheet">

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body style="background: #f8f9fa">
    {% block content %}{% endblock %}

</body>

<footer class="container" style="text-align: center">
    <br>
    <br>
    <br>
    <p style="font-family: 'Bitter', serif;">With ❤️ from <a target="_blank" rel="noopener noreferrer" 
        href="https://github.com/p1r-a-t3">p1r-a-t3</a>!
    </p>
</footer>