{% extends "base_with_nav.html" %}

{%block teams %}
{% if teams %}
{% for team in teams %}
<a class="dropdown-item" id="nav_team" href="{% url "team" team.team_id %}">{{ team.team_name }}</a>
{% endfor %}
<div class="dropdown-divider"></div>
{% endif %}

{% endblock %}

{%block project_teams %}
{% if teams %}
<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% for team in teams %}
    <option value="{{ team.team_id }}">{{ team.team_name }}</option>
    {% endfor %}
</div>
{% else %}
<p class="h4"> You need an organization to create a project. </p>
{% endif %}
{% endblock %}


{%block projects %}
{% if projects %}
{% for project in projects %}
<!-- project.project_id -->
<a class="dropdown-item" href="{% url "project" project.project_id %}">
     {{ project.project_name }}
</a>
{% endfor %}
<div class="dropdown-divider"></div>
{% endif %}
{% endblock %}